.wrapper {
  margin: 4em auto;
  padding: 5px;
  width: 320px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #BBB;
}

#display {
  margin: 5px;
  color: #EEE;
  height: 64px;
  width: 296px;
  boder: 2px solid black;
  background-color: #212121;
  border-radius: 5px;
}

.buttons {
  padding: 5px 20px;
}

.btn-default {
  width: 64px;
  height: 64px;
  border: 1px solid black;
  border-radius: 0;
}

.large {
  width: 128px;
}
